.card {
  display: flex;
  width: 181px;
  height: 157px;
  padding: 10px 10px 10px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  flex-shrink: 0;
  background: linear-gradient(90deg, #fd8204 0%, #ffa64b 100%);
  box-sizing: border-box;
  border-radius: 10%;
  box-shadow: 3.38px 5.07px 3.38px 0 rgba(0, 0, 0, 0.25);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header h1 {
  font-size: 18px;
  margin: 0;
}

.header button {
  font-size: 25px;
  background: none;
  border: none;
}

.title {
  font-size: 150%;
  color: #fff;
  font-family: Inter;
  font-style: normal;
}

.profileImg {
  background: url(<path-to-image>);
  text-decoration: none;
}

@media (max-width: 400px) {
  .card {
    width: 45%; /* quepan 2 por fila en móviles */
    height: auto;
    padding: 8px;
    margin-bottom: 10px;
  }

  .header h1 {
    font-size: 16px;
  }

  .header button {
    font-size: 25px;
  }

  .title {
    font-size: 20px;
  }

  /* Ajuste de progressBar si existe */
  .progressBarContainer {
    width: 100%;
  }
}
